# Funktionen und Pandas

**Inhalt:** Komplexere Zellen- und Spalten-Operationen

**Nötige Skills:** Einführung in Pandas

**Lernziele:**
- Mehrere Codezeilen zu Funktionen zusammenfassen
- Funktionen auf bestimmte Bestandteile von Dataframes ausführen (apply, lambda)

## Vorbereitung

In [1]:
import pandas as pd

In [2]:
# Platz für weitere Libraries, die Sie brauchen möchten...
import requests

In [3]:
from bs4 import BeautifulSoup

## Review: eine einfache Funktion schreiben

Zum Start kreieren wir uns eine Reihe von Funktionen, die wir später anwenden wollen. Be creative!

Zum Beispiel:
- eine Zalhlenoperation, die nicht auf einer Zeile platz hat (wenn, dann, etc.)
- einen Input nehmen, eine API damit befragen
- einen String durchsuchen und/oder modifizieren
- Zahlen und Text nach einem bestimmten Muster formatieren

**To Do:** Schreiben und beschreiben Sie eine Funktion (eine auswählen, Code testen und in Slack!)

**Eine Funktion, die etwas mit einer Zahl macht**

In [4]:
# Spuckt eine formatierte Zahl aus, je nach Grösse
def mach_was_mit_zahl(zahl):

    if zahl < 1000:
        zahl_formatted = str(round(zahl))
    elif zahl < 1000000:
        zahl_formatted = str(round(zahl / 1000)) +  "K"
    else:
        zahl_formatted = "zu gross!"
    
    return zahl_formatted

Zum Testen:

In [5]:
mach_was_mit_zahl(365000)

'365K'

**Eine Funktion, die etwas mit einem Wort macht**

In [6]:
# Checkt, wie viele Einträge es bei tel.search.ch gibt
def mach_was_mit_wort(wort):
    
    url_start = "https://tel.search.ch/api/?was="
    url_end = "&count_only=yes"
    
    url = url_start + wort + url_end
    
    response = requests.get(url)
    doc = BeautifulSoup(response.text, "html.parser")
    
    n_results = int(doc.find('opensearch:totalresults').text)
       
    return n_results

Zum Testen:

In [7]:
mach_was_mit_wort("Schneider-Ammann")

11

**Eine Funktion, die etwas mit einem längeren Text macht**

Zum Beispiel mit diesem hier:

In [8]:
my_text = open('dataprojects/Songtexte/Züri West - I schänke dir mis Härz.txt', 'r').read()

Für Ideen, hier eine Liste von Python's String-Funktionen: https://www.w3schools.com/python/python_ref_string.asp

In [9]:
# Textanalyse: Anzahl u's und Anzahl i's im Text zählen (allein stehende wörter)
def mach_was_mit_text(text):
    
    n_u = text.lower().count(' u ')
    n_i = text.lower().count(' i ')
    
    textanalyse = "Enhält " + str(n_u) + " u's und " + str(n_i) + " i's."
        
    return textanalyse

Zum Testen:

In [10]:
mach_was_mit_text(my_text)

"Enhält 5 u's und 12 i's."

**Eine Funktion, die etwas mit einem Dictionary macht**

Zum Beispiel mit diesem hier:

In [11]:
my_dictionary = {
    'Rang': 20,
    'Artist': 'Baschi',
    'Titel': 'Bring en hei',
    'Eintritt': '28.05.2006',
    'Wochen': 100,
    'Peak': 1,
    'Punkte': 5356,
    'Link': '/song/Baschi/Bring-en-hei-193080'
}

In [12]:
# Formatiert die Infos nach einem bestimmten Muster
def mach_was_mit_dictionary(dic):
    
    str_out = "Die Single '" + dic['Titel'] + "' von " + dic['Artist']
    str_out += " ist am " + dic['Eintritt'] + " in die Charts eingestiegen. "
    str_out += "Sie blieb dort " + str(dic['Wochen']) + " Wochen und schaffte es auf Platz " + str(dic['Peak']) + "."
      
    return str_out

In [13]:
mach_was_mit_dictionary(my_dictionary)

"Die Single 'Bring en hei' von Baschi ist am 28.05.2006 in die Charts eingestiegen. Sie blieb dort 100 Wochen und schaffte es auf Platz 1."

## Funktion ausführen 1: List Comprehension

Das kennen wir bereits: Wir wollen dieselbe Funktion auf alle Elemente in einer Liste anwenden!

Zum Beispiel auf eine von diesen Listen: **Zahlen**

In [14]:
zahlen = [10, 957, 4.73, 333888, 0.00013]

In [15]:
[mach_was_mit_zahl(zahl) for zahl in zahlen]

['10', '957', '5', '334K', '0']

**Wörter:**

In [16]:
woerter = ["Meier", "Schmidt", "orange", "Wauwau", "Milchstrasse", "Schneider-Ammann"]

In [17]:
[mach_was_mit_wort(wort) for wort in woerter]

[18611, 2424, 97, 4, 1, 11]

**Texte:**

In [18]:
files = [
    'Züri West - I schänke dir mis Härz.txt',
    'Patent Ochsner - Venus vo Bümpliz.txt',
    'DJ Bobo - Chihuahua.txt'
]

In [19]:
texts = [open('dataprojects/Songtexte/' + file, "r").read() for file in files]

In [20]:
texts[0]

'I schänke dir mis Härz\nMeh han i nid\nDu chasch es ha, we dä wosch\nEs isch es guets\nU es git no mängi, wos würd näh,\nAber dir würdis gäh\nD szene isch ä chlini Bar\nIrgenwo i dere Stadt\nUnd i bsteue ä Whisky\nHocke irgendwo ab\nWos ke Platz u luege so chli ume\nWär so umänang hocket\nAber kenne tuä-ni niemer hie inne\nÜberall hocke Lüt\nhinger de Schampus-Chüble\nGeng ä Frou u ne Typ\nU nippe amne Flûte u hange angenang a\nu rede öppis über nüt\nU nume ig bi allei hie\nu da wächslet ds\'Liecht\nHie u da verschwinde wider zwöi irgendwo\nU irgendeinisch geit hinde\nÄ dunkublaue Vorhang uuf\nHinger em Vorhang hets ä Bühni\nUf dr Bühni steit ä Frou\nWo i dä Ungerhose irgendsone Show zeigt\nI luege so chli zue\nU i hocke so chli da\nU gspüre plötzlech\nDass i irgendsone Hang ufem Chnöi ha\nU dräie mi um\nU näbe mir hocket eini\nWoni nie voher ha gseh\nU fragt, ob ig alleini sig\nU sie sig ou allei\nI söu nid überlege\nI gfaui re no so\nu si wöu eifach chli rede\nViellech sött i hie no säge\nSie gseht schön us\nSie isch ä schöni mit schöne, länge Haar\nU klar bin i närvös worde\nKlar han i drunke\nU mit jedem Schlunk het sie mi no chli schöner afa dünke\nU nach jedem Glas Champagner\nHet sie gäng no eis wöue\nI ha zaut u zaut\nBis i eifach nüm ha chönne\nU ha gseit:"Hey,\nWei mer nid zu mir oder so?"\nU sie het gseit:\n"I chönnt di so verwöhne.\nSo ire haub Stung chönnti cho -\nu jitz säg mer eifach numeno wiviu\nSäg wiviu,\nWiviu gisch mer, wenn i chume?"\nI schänke dir mis Härz meh han i nid\nDu chasch es ha, we de wosch\nes isch es guets und es git\nno mängi, wos würd näh\nAber dir würd is gä\n'

In [21]:
[mach_was_mit_text(text) for text in texts]

["Enhält 5 u's und 12 i's.",
 "Enhält 3 u's und 9 i's.",
 "Enhält 0 u's und 2 i's."]

## Funktion ausführen 2: Apply

Apply ist ein ähnliches Prinzip wie List Comprehension - aber in Pandas.

Um es auszuprobieren, stellen wir uns eine kleine Datenbank der besten alltime-Singles aus der Schweizer Hitparade zusammen und scrapen die Songtexte dazu.

Quelle: https://hitparade.ch/charts/best/singles

Quelle: https://www.songtexte.com/

Das Scrape-File dazu findet sich hier: `dataprojects/Songtexte/scraper.ipynb`

Das Daten-File hier: `dataprojects/Songtexte/charts_mit_texten.csv`

In [22]:
df = pd.read_csv('dataprojects/Songtexte/charts_mit_texten.csv')

In [23]:
df.head()

,Rang,Artist,Titel,Eintritt,Wochen,Peak,Punkte,Link,Songtext
0,1,DJ Ötzi & Nik P.,Ein Stern (... der deinen Namen trägt),18.02.2007,118,2,8109,/song/DJ-Oetzi-&-Nik-P./Ein-Stern-(...-der-dei...,"Einen Stern, der deinen Namen trägt\nHoch am H..."
1,2,Ed Sheeran,Shape Of You,15.01.2017,93,1,7196,/song/Ed-Sheeran/Shape-Of-You-1622943,The club isn't the best place to find a lover\...
2,3,Luis Fonsi feat. Daddy Yankee,Despacito,22.01.2017,90,1,6854,/song/Luis-Fonsi-feat.-Daddy-Yankee/Despacito-...,"Ay\nFonsi, DY\nOh, oh no, oh no (ey)\nHey, yea..."
3,4,DJ Antoine feat. The Beat Shakers,"""Ma chérie""",06.06.2010,99,2,6745,/song/DJ-Antoine-feat.-The-Beat-Shakers/Ma-che...,When I look into your eyes\nI see rainbows in ...
4,5,Adele,Rolling In The Deep,30.01.2011,93,1,6588,/song/Adele/Rolling-In-The-Deep-767937,There's a fire starting in my heart\nReaching ...

### Apply mit einzelnen Einträgen

Wir probieren jetz an diesem Datenset unsere obigen Funktionen aus.

Das Prinzip: Wir nehmen eine Spalte, und wenden auf jeden einzelnen Eitrag darin eine Funktion an.

Zum Beispiel auf alle Einträge in der Spalte "Punkte":

In [24]:
df['Punkte'].apply(mach_was_mit_zahl)

0     8K
1     7K
2     7K
3     7K
4     7K
5     7K
6     6K
7     6K
8     6K
9     6K
10    6K
11    6K
12    6K
13    6K
14    6K
15    6K
16    6K
17    5K
18    5K
19    5K
20    5K
21    5K
22    5K
23    5K
24    5K
25    5K
26    5K
27    5K
28    5K
29    5K
      ..
70    4K
71    4K
72    4K
73    4K
74    4K
75    4K
76    4K
77    4K
78    4K
79    4K
80    4K
81    4K
82    4K
83    4K
84    4K
85    4K
86    4K
87    4K
88    4K
89    4K
90    4K
91    4K
92    4K
93    4K
94    4K
95    4K
96    4K
97    4K
98    4K
99    4K
Name: Punkte, Length: 100, dtype: object

Warum funktioniert das hier nicht?

In [25]:
mach_was_mit_zahl(df['Punkte'])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

Wenn die Funktion `apply()` auf eine Serie angewendet wird, generiert sie - eine Serie. Wir können diese Serie als Spalte an die Tabelle anfügen.

Zum Beispiel mit unserer Zahlen-Funktion:

In [26]:
df['Punkte_Formatiert'] = df['Punkte'].apply(mach_was_mit_zahl)

In [27]:
df.head()

,Rang,Artist,Titel,Eintritt,Wochen,Peak,Punkte,Link,Songtext,Punkte_Formatiert
0,1,DJ Ötzi & Nik P.,Ein Stern (... der deinen Namen trägt),18.02.2007,118,2,8109,/song/DJ-Oetzi-&-Nik-P./Ein-Stern-(...-der-dei...,"Einen Stern, der deinen Namen trägt\nHoch am H...",8K
1,2,Ed Sheeran,Shape Of You,15.01.2017,93,1,7196,/song/Ed-Sheeran/Shape-Of-You-1622943,The club isn't the best place to find a lover\...,7K
2,3,Luis Fonsi feat. Daddy Yankee,Despacito,22.01.2017,90,1,6854,/song/Luis-Fonsi-feat.-Daddy-Yankee/Despacito-...,"Ay\nFonsi, DY\nOh, oh no, oh no (ey)\nHey, yea...",7K
3,4,DJ Antoine feat. The Beat Shakers,"""Ma chérie""",06.06.2010,99,2,6745,/song/DJ-Antoine-feat.-The-Beat-Shakers/Ma-che...,When I look into your eyes\nI see rainbows in ...,7K
4,5,Adele,Rolling In The Deep,30.01.2011,93,1,6588,/song/Adele/Rolling-In-The-Deep-767937,There's a fire starting in my heart\nReaching ...,7K

Oder mit der Wort-Funktion:

In [28]:
#Testen Sie hier Ihre Wort-Funktion
df['Anzahl Telefonbucheinträge'] = df['Artist'].apply(mach_was_mit_wort)

In [29]:
df.sort_values('Anzahl Telefonbucheinträge', ascending=False).head(10)

,Rang,Artist,Titel,Eintritt,Wochen,Peak,Punkte,Link,Songtext,Punkte_Formatiert,Anzahl Telefonbucheinträge
35,36,Sia,Chandelier,25.05.2014,63,2,4683,/song/Sia/Chandelier-1264547,"Party girls don't get hurt, can't feel anythin...",5K,5531
45,46,Sia,Cheap Thrills,27.12.2015,62,2,4569,/song/Sia/Cheap-Thrills-1505888,"Come on, come on, turn the radio on\nIt's Frid...",5K,5531
19,20,Baschi,Bring en hei,28.05.2006,100,1,5356,/song/Baschi/Bring-en-hei-193080,"Chum bring en hei, chum bring en\nChum bring e...",5K,886
14,15,Adele,Someone Like You,05.06.2011,95,1,5627,/song/Adele/Someone-Like-You-792468,I heard that you're settled down\nThat you fou...,6K,397
73,74,Adele,Set Fire To The Rain,13.02.2011,57,4,4152,/song/Adele/Set-Fire-To-The-Rain-792463,"I set fire...\nFire, fire, fire...\nLet it bur...",4K,397
4,5,Adele,Rolling In The Deep,30.01.2011,93,1,6588,/song/Adele/Rolling-In-The-Deep-767937,There's a fire starting in my heart\nReaching ...,7K,397
26,27,Mika,Relax (Take It Easy),04.03.2007,75,2,4969,/song/Mika/Relax-(Take-It-Easy)-267008,Took a ride to the end of the line\nWhere no o...,5K,323
49,50,K-Maro,Femme Like U (Donne-moi ton corps),04.07.2004,59,1,4521,/song/K-Maro/Femme-Like-U-(Donne-moi-ton-corps...,NaN,5K,175
60,61,Omi,Cheerleader (Felix Jaehn Remix),08.02.2015,54,1,4307,/song/Omi/Cheerleader-(Felix-Jaehn-Remix)-1347101,When I need motivation\nMy one solution is my ...,4K,95
44,45,Alizée,Moi... Lolita,06.08.2000,73,11,4574,/song/Alizee/Moi...-Lolita-4377,Moi je m'appelle Lolita\nLo ou bien Lola\nDu p...,5K,54

Oder mit der Text-Funktion:

In [33]:
#Testen Sie hier Ihre Text-Funktion
df['Textanalyse'] = df['Songtext'].astype(str).apply(mach_was_mit_text)

In [34]:
df.head()

,Rang,Artist,Titel,Eintritt,Wochen,Peak,Punkte,Link,Songtext,Punkte_Formatiert,Anzahl Telefonbucheinträge,Textanalyse
0,1,DJ Ötzi & Nik P.,Ein Stern (... der deinen Namen trägt),18.02.2007,118,2,8109,/song/DJ-Oetzi-&-Nik-P./Ein-Stern-(...-der-dei...,"Einen Stern, der deinen Namen trägt\nHoch am H...",8K,0,Enhält 0 u's und 0 i's.
1,2,Ed Sheeran,Shape Of You,15.01.2017,93,1,7196,/song/Ed-Sheeran/Shape-Of-You-1622943,The club isn't the best place to find a lover\...,7K,0,Enhält 0 u's und 2 i's.
2,3,Luis Fonsi feat. Daddy Yankee,Despacito,22.01.2017,90,1,6854,/song/Luis-Fonsi-feat.-Daddy-Yankee/Despacito-...,"Ay\nFonsi, DY\nOh, oh no, oh no (ey)\nHey, yea...",7K,0,Enhält 0 u's und 0 i's.
3,4,DJ Antoine feat. The Beat Shakers,"""Ma chérie""",06.06.2010,99,2,6745,/song/DJ-Antoine-feat.-The-Beat-Shakers/Ma-che...,When I look into your eyes\nI see rainbows in ...,7K,0,Enhält 0 u's und 5 i's.
4,5,Adele,Rolling In The Deep,30.01.2011,93,1,6588,/song/Adele/Rolling-In-The-Deep-767937,There's a fire starting in my heart\nReaching ...,7K,397,Enhält 0 u's und 3 i's.

### Apply mit ganzen Zeilen

Apply funktioniert nicht nur mit einzelnen Spalten und deren Einträgen, sondern auch mit mehreren Spalten und deren Einträgen auf einmal.

In [36]:
pd.set_option("display.max_colwidth", 200)

In [37]:
df.apply(mach_was_mit_dictionary, axis=1)

0                     Die Single 'Ein Stern (... der deinen Namen trägt)' von DJ Ötzi & Nik P. ist am 18.02.2007 in die Charts eingestiegen. Sie blieb dort 118 Wochen und schaffte es auf Platz 2.
1                                                      Die Single 'Shape Of You' von Ed Sheeran ist am 15.01.2017 in die Charts eingestiegen. Sie blieb dort 93 Wochen und schaffte es auf Platz 1.
2                                      Die Single 'Despacito' von Luis Fonsi feat. Daddy Yankee ist am 22.01.2017 in die Charts eingestiegen. Sie blieb dort 90 Wochen und schaffte es auf Platz 1.
3                                Die Single '"Ma chérie"' von DJ Antoine feat. The Beat Shakers ist am 06.06.2010 in die Charts eingestiegen. Sie blieb dort 99 Wochen und schaffte es auf Platz 2.
4                                                    Die Single 'Rolling In The Deep' von Adele ist am 30.01.2011 in die Charts eingestiegen. Sie blieb dort 93 Wochen und schaffte es auf Platz 1.
5                                                        Die Single 'All Of Me' von John Legend ist am 02.02.2014 in die Charts eingestiegen. Sie blieb dort 97 Wochen und schaffte es auf Platz 1.
6                                               Die Single 'This Is The Life' von Amy Macdonald ist am 23.03.2008 in die Charts eingestiegen. Sie blieb dort 94 Wochen und schaffte es auf Platz 2.
7                                          Die Single 'I Gotta Feeling' von The Black Eyed Peas ist am 19.07.2009 in die Charts eingestiegen. Sie blieb dort 87 Wochen und schaffte es auf Platz 1.
8                 Die Single 'Waka Waka (This Time For Africa)' von Shakira feat. Freshlyground ist am 23.05.2010 in die Charts eingestiegen. Sie blieb dort 86 Wochen und schaffte es auf Platz 1.
9                                              Die Single 'Infinity 2008' von Guru Josh Project ist am 28.09.2008 in die Charts eingestiegen. Sie blieb dort 85 Wochen und schaffte es auf Platz 2.
10                                                   Die Single 'Sonnentanz' von Klangkarussell ist am 26.08.2012 in die Charts eingestiegen. Sie blieb dort 87 Wochen und schaffte es auf Platz 3.
11                                      Die Single 'Atemlos durch die Nacht' von Helene Fischer ist am 20.10.2013 in die Charts eingestiegen. Sie blieb dort 80 Wochen und schaffte es auf Platz 2.
12                                                          Die Single 'Heavy Cross' von Gossip ist am 21.06.2009 in die Charts eingestiegen. Sie blieb dort 80 Wochen und schaffte es auf Platz 2.
13                                                     Die Single 'Happy' von Pharrell Williams ist am 08.12.2013 in die Charts eingestiegen. Sie blieb dort 80 Wochen und schaffte es auf Platz 1.
14                                                      Die Single 'Someone Like You' von Adele ist am 05.06.2011 in die Charts eingestiegen. Sie blieb dort 95 Wochen und schaffte es auf Platz 1.
15                                                        Die Single 'Poker Face' von Lady Gaga ist am 11.01.2009 in die Charts eingestiegen. Sie blieb dort 72 Wochen und schaffte es auf Platz 1.
16                                    Die Single 'Apologize' von Timbaland Presents OneRepublic ist am 04.11.2007 in die Charts eingestiegen. Sie blieb dort 89 Wochen und schaffte es auf Platz 1.
17                                                           Die Single 'Faded' von Alan Walker ist am 17.01.2016 in die Charts eingestiegen. Sie blieb dort 86 Wochen und schaffte es auf Platz 1.
18                                                        Die Single 'Let Her Go' von Passenger ist am 03.03.2013 in die Charts eingestiegen. Sie blieb dort 88 Wochen und schaffte es auf Platz 1.
19                                                        Die Single 'Bring en hei' von Baschi ist am 28.05.2006 in die Charts eingestiegen. Sie blieb dort 100 Wochen und schaffte es auf Platz 1.
20                                          Die Single 'Sexy Bitch' von David Guetta feat. Akon ist am 09.08.2009 in die Charts eingestiegen. Sie blieb dort 77 Wochen und schaffte es auf Platz 2.
21                                                        Die Single 'Rehab' von Amy Winehouse ist am 18.03.2007 in die Charts eingestiegen. Sie blieb dort 88 Wochen und schaffte es auf Platz 11.
22                                     Die Single 'Lean On' von Major Lazer & DJ Snake feat. MØ ist am 29.03.2015 in die Charts eingestiegen. Sie blieb dort 65 Wochen und schaffte es auf Platz 1.
23    Die Single 'Prayer In C (Robin Schulz Remix)' von Lilly Wood & The Prick and Robin Schulz ist am 15.06.2014 in die Charts eingestiegen. Sie blieb dort 68 Wochen und schaffte es auf Platz 1.
24                                                          Die Single 'Perfect' von Ed Sheeran ist am 12.03.2017 in die Charts eingestiegen. Sie blieb dort 57 Wochen und schaffte es auf Platz 1.
25                                                Die Single 'You're Beautiful' von James Blunt ist am 21.08.2005 in die Charts eingestiegen. Sie blieb dort 97 Wochen und schaffte es auf Platz 2.
26                                                   Die Single 'Relax (Take It Easy)' von Mika ist am 04.03.2007 in die Charts eingestiegen. Sie blieb dort 75 Wochen und schaffte es auf Platz 2.
27                                              Die Single 'Up In The Sky' von 77 Bombay Street ist am 24.04.2011 in die Charts eingestiegen. Sie blieb dort 82 Wochen und schaffte es auf Platz 7.
28                                                          Die Single 'Wake Me Up!' von Avicii ist am 30.06.2013 in die Charts eingestiegen. Sie blieb dort 68 Wochen und schaffte es auf Platz 1.
29                                                    Die Single 'Take Me To Church' von Hozier ist am 28.09.2014 in die Charts eingestiegen. Sie blieb dort 68 Wochen und schaffte es auf Platz 1.
                                                                                                  ...
70                                                    Die Single 'Believer' von Imagine Dragons ist am 12.02.2017 in die Charts eingestiegen. Sie blieb dort 67 Wochen und schaffte es auf Platz 6.
71                                                   Die Single 'Stolen Dance' von Milky Chance ist am 27.10.2013 in die Charts eingestiegen. Sie blieb dort 60 Wochen und schaffte es auf Platz 1.
72                                                   Die Single 'Chasing Cars' von Snow Patrol ist am 26.11.2006 in die Charts eingestiegen. Sie blieb dort 106 Wochen und schaffte es auf Platz 4.
73                                                  Die Single 'Set Fire To The Rain' von Adele ist am 13.02.2011 in die Charts eingestiegen. Sie blieb dort 57 Wochen und schaffte es auf Platz 4.
74                                            Die Single 'Are You With Me' von Lost Frequencies ist am 08.02.2015 in die Charts eingestiegen. Sie blieb dort 56 Wochen und schaffte es auf Platz 1.
75                                              Die Single 'Somebody Dance With Me' von DJ BoBo ist am 10.01.1993 in die Charts eingestiegen. Sie blieb dort 48 Wochen und schaffte es auf Platz 1.
76                                                    Die Single 'I Follow Rivers' von Lykke Li ist am 01.04.2012 in die Charts eingestiegen. Sie blieb dort 61 Wochen und schaffte es auf Platz 2.
77                                                             Die Single 'Run' von Leona Lewis ist am 14.12.2008 in die Charts eingestiegen. Sie blieb dort 72 Wochen und schaffte es auf Platz 2.
78                   Die Single 'Welcome To St. Tropez' von DJ Antoine vs. Timati feat. Kalenna ist am 17.04.2011 in die Charts eingestiegen. Sie blieb dort 53 Wochen und schaffte es auf Platz 2.
79                               Die Single 'Love Is Gone' von David Guetta feat. Chris Willis ist am 13.05.2007 in die Charts eingestiegen. Sie blieb dort 75 Wochen und schaffte es auf Platz 11.
80                                 Die Single 'Get Lucky' von Daft Punk feat. Pharrell Williams ist am 05.05.2013 in die Charts eingestiegen. Sie blieb dort 56 Wochen und schaffte es auf Platz 1.
81                                      Die Single 'Stole The Show' von Kygo feat. Parson James ist am 05.04.2015 in die Charts eingestiegen. Sie blieb dort 56 Wochen und schaffte es auf Platz 3.
82                                                Die Single 'Mr Rock & Roll' von Amy Macdonald ist am 17.02.2008 in die Charts eingestiegen. Sie blieb dort 65 Wochen und schaffte es auf Platz 3.
83                                    Die Single 'Sugar' von Robin Schulz feat. Francesco Yates ist am 26.07.2015 in die Charts eingestiegen. Sie blieb dort 51 Wochen und schaffte es auf Platz 1.
84                                             Die Single 'My Heart Will Go On' von Céline Dion ist am 18.01.1998 in die Charts eingestiegen. Sie blieb dort 49 Wochen und schaffte es auf Platz 1.
85                                                     Die Single 'Thunder' von Imagine Dragons ist am 07.05.2017 in die Charts eingestiegen. Sie blieb dort 54 Wochen und schaffte es auf Platz 2.
86                     Die Single 'Party Rock Anthem' von LMFAO feat. Lauren Bennett & GoonRock ist am 17.04.2011 in die Charts eingestiegen. Sie blieb dort 54 Wochen und schaffte es auf Platz 1.
87                                                        Die Single 'Rise Up' von Yves Larock ist am 07.10.2007 in die Charts eingestiegen. Sie blieb dort 88 Wochen und schaffte es auf Platz 16.
88                                                          Die Single 'Sofia' von Alvaro Soler ist am 24.04.2016 in die Charts eingestiegen. Sie blieb dort 71 Wochen und schaffte es auf Platz 1.
89                             Die Single 'Somebody That I Used To Know' von Gotye feat. Kimbra ist am 25.12.2011 in die Charts eingestiegen. Sie blieb dort 58 Wochen und schaffte es auf Platz 2.
90                                      Die Single 'Havana' von Camila Cabello feat. Young Thug ist am 20.08.2017 in die Charts eingestiegen. Sie blieb dort 58 Wochen und schaffte es auf Platz 2.
91                                              Die Single 'Tage wie diese' von Die Toten Hosen ist am 08.04.2012 in die Charts eingestiegen. Sie blieb dort 62 Wochen und schaffte es auf Platz 4.
92                              Die Single 'All Good Things (Come To An End)' von Nelly Furtado ist am 10.12.2006 in die Charts eingestiegen. Sie blieb dort 62 Wochen und schaffte es auf Platz 1.
93                                         Die Single 'One Dance' von Drake feat. Wizkid & Kyla ist am 10.04.2016 in die Charts eingestiegen. Sie blieb dort 51 Wochen und schaffte es auf Platz 1.
94                                                       Die Single 'Hot N Cold' von Katy Perry ist am 09.11.2008 in die Charts eingestiegen. Sie blieb dort 62 Wochen und schaffte es auf Platz 1.
95                                                      Die Single 'Maneater' von Nelly Furtado ist am 11.06.2006 in die Charts eingestiegen. Sie blieb dort 63 Wochen und schaffte es auf Platz 3.
96                                   Die Single 'On The Floor' von Jennifer Lopez feat. Pitbull ist am 13.03.2011 in die Charts eingestiegen. Sie blieb dort 51 Wochen und schaffte es auf Platz 1.
97                                    Die Single 'Hips Don't Lie' von Shakira feat. Wyclef Jean ist am 30.04.2006 in die Charts eingestiegen. Sie blieb dort 65 Wochen und schaffte es auf Platz 1.
98                                   Die Single 'Can't Stop The Feeling!' von Justin Timberlake ist am 15.05.2016 in die Charts eingestiegen. Sie blieb dort 62 Wochen und schaffte es auf Platz 1.
99                                            Die Single 'Right Round' von Flo Rida feat. Ke$ha ist am 15.03.2009 in die Charts eingestiegen. Sie blieb dort 59 Wochen und schaffte es auf Platz 2.
Length: 100, dtype: object

Warum funktioniert das?
- Checken wir nochmal den Dictionary, mit dem wir vorher unsere Funktion getestet haben

In [40]:
my_dictionary

{'Artist': 'Baschi',
 'Eintritt': '28.05.2006',
 'Link': '/song/Baschi/Bring-en-hei-193080',
 'Peak': 1,
 'Punkte': 5356,
 'Rang': 20,
 'Titel': 'Bring en hei',
 'Wochen': 100}

- und nun: eine beliebige Zeile (sagen wir, Nr. 19) aus dem Dataframe:

In [41]:
df.loc[19]

Rang                                                                                                                                                                                                                               20
Artist                                                                                                                                                                                                                         Baschi
Titel                                                                                                                                                                                                                    Bring en hei
Eintritt                                                                                                                                                                                                                   28.05.2006
Wochen                                                                                                                                                                                                                            100
Peak                                                                                                                                                                                                                                1
Punkte                                                                                                                                                                                                                           5356
Link                                                                                                                                                                                                 /song/Baschi/Bring-en-hei-193080
Songtext                      Chum bring en hei, chum bring en\nChum bring en hei, chum bring en\nChum bring en hei, zu mir...\n(1, 2, 3, 4, 5, 6, 7, 11)\nS'ganze Lebe nume für 90 Minute\nEs wartet alles nur uf di\nDas isch mi...
Punkte_Formatiert                                                                                                                                                                                                                  5K
Anzahl Telefonbucheinträge                                                                                                                                                                                                        886
Textanalyse                                                                                                                                                                                                   Enhält 0 u's und 1 i's.
Out_Text                                                                                    Die Single 'Bring en hei' von Baschi ist am 28.05.2006 in die Charts eingestiegen. Sie blieb dort 100 Wochen und schaffte es auf Platz 1.
Name: 19, dtype: object

=> Die Sache klappt, weil die Keys im Test-Dictionary denselben Namen haben wie die Spalten in unserem Dataframe

Das gute an `apply()` ist: man kann nicht nur Spalten addieren (also einfache Operationen anwenden), sondern beliebig komplizierte Prozeduren implementieren, um eine neue Spalte zu generieren.

Zum Beispiel können wir unsere eigenen Coolness_Punkte als Alternative zum Punktesystem der Hitparade testen.

In [42]:
def coolness_punkte(row):
    if row['Artist'] == 'DJ BoBo':
        score = 0
    else:
        score = row['Peak'] * row['Wochen'] * 52
    return score

In [43]:
df['Coolness_Punkte'] = df.apply(coolness_punkte, axis=1)

In [44]:
df[df['Artist'] == 'DJ BoBo']

,Rang,Artist,Titel,Eintritt,Wochen,Peak,Punkte,Link,Songtext,Punkte_Formatiert,Anzahl Telefonbucheinträge,Textanalyse,Out_Text,Coolness_Punkte
75,76,DJ BoBo,Somebody Dance With Me,10.01.1993,48,1,4131,/song/DJ-BoBo/Somebody-Dance-With-Me-2561,I'm back again on a higher stage\nListen to the party beat and get in range\n'Cause you know when I flow and I show you so\nWhich way is better which way you got to go\nTo make a fun house party a...,4K,1,Enhält 0 u's und 7 i's.,Die Single 'Somebody Dance With Me' von DJ BoBo ist am 10.01.1993 in die Charts eingestiegen. Sie blieb dort 48 Wochen und schaffte es auf Platz 1.,0

In [45]:
df.head(5)

,Rang,Artist,Titel,Eintritt,Wochen,Peak,Punkte,Link,Songtext,Punkte_Formatiert,Anzahl Telefonbucheinträge,Textanalyse,Out_Text,Coolness_Punkte
0,1,DJ Ötzi & Nik P.,Ein Stern (... der deinen Namen trägt),18.02.2007,118,2,8109,/song/DJ-Oetzi-&-Nik-P./Ein-Stern-(...-der-deinen-Namen-traegt)-283118,"Einen Stern, der deinen Namen trägt\nHoch am Himmelszelt\nDen schenk ich Dir heut' Nacht\nEinen Stern, der deinen Namen trägt\nAlle Zeiten überlebt\nUnd über unsere Liebe wacht\n\nSeit Jahren scho...",8K,0,Enhält 0 u's und 0 i's.,Die Single 'Ein Stern (... der deinen Namen trägt)' von DJ Ötzi & Nik P. ist am 18.02.2007 in die Charts eingestiegen. Sie blieb dort 118 Wochen und schaffte es auf Platz 2.,12272
1,2,Ed Sheeran,Shape Of You,15.01.2017,93,1,7196,/song/Ed-Sheeran/Shape-Of-You-1622943,The club isn't the best place to find a lover\nSo the bar is where I go\nMe and my friends at the table doing shots\nDrinking fast and then we talk slow\n\nCome over and start up a conversation wi...,7K,0,Enhält 0 u's und 2 i's.,Die Single 'Shape Of You' von Ed Sheeran ist am 15.01.2017 in die Charts eingestiegen. Sie blieb dort 93 Wochen und schaffte es auf Platz 1.,4836
2,3,Luis Fonsi feat. Daddy Yankee,Despacito,22.01.2017,90,1,6854,/song/Luis-Fonsi-feat.-Daddy-Yankee/Despacito-1625640,"Ay\nFonsi, DY\nOh, oh no, oh no (ey)\nHey, yeah, diri-diri-diriridi, Daddy, go!\n\nSí, sabes que ya llevo un rato mirándote\nTengo que bailar contigo hoy (DY)\nVi que tu mirada ya estaba llamándom...",7K,0,Enhält 0 u's und 0 i's.,Die Single 'Despacito' von Luis Fonsi feat. Daddy Yankee ist am 22.01.2017 in die Charts eingestiegen. Sie blieb dort 90 Wochen und schaffte es auf Platz 1.,4680
3,4,DJ Antoine feat. The Beat Shakers,"""Ma chérie""",06.06.2010,99,2,6745,/song/DJ-Antoine-feat.-The-Beat-Shakers/Ma-cherie-711060,When I look into your eyes\nI see rainbows in the skies.\nBaby when you're close to me\nI know you are ma cherie.\n\nWe are gonna dance into the sea\nAll I want is you - you're ma cherie\nNever se...,7K,0,Enhält 0 u's und 5 i's.,"Die Single '""Ma chérie""' von DJ Antoine feat. The Beat Shakers ist am 06.06.2010 in die Charts eingestiegen. Sie blieb dort 99 Wochen und schaffte es auf Platz 2.",10296
4,5,Adele,Rolling In The Deep,30.01.2011,93,1,6588,/song/Adele/Rolling-In-The-Deep-767937,"There's a fire starting in my heart\nReaching a fever pitch and it's bring me out the dark\nFinally, I can see you crystal clear\nGo ahead and sell me out and I'll lay your ship bare\n\nSee how I'...",7K,397,Enhält 0 u's und 3 i's.,Die Single 'Rolling In The Deep' von Adele ist am 30.01.2011 in die Charts eingestiegen. Sie blieb dort 93 Wochen und schaffte es auf Platz 1.,4836

## Funktionen ausführen 3: Lambda

Nehmen wir an, wir haben eine Funktion von jemandem erhalten, die wir gerne benutzen würden.

Sie nimmt zwei Zahlen als Inputs und gibt die grössere davon zurück.

In [46]:
def groessere_zahl(zahl1, zahl2):
    if zahl1 < zahl2:
        return zahl2
    else:
        return zahl1

In [47]:
groessere_zahl(4, 5)

5

Was tun, wenn wir diese Funktion innerhalb vom einem Dataframe benutzen wollen?

Zum Beispiel, um die zwei Spalten "Punkte" und "Coolness_Punkte" in unseren Single-Charts zu vergleichen?

Eine Option wäre: Eine Hilfsfunktion zu schreiben, die eine Zeile im Dataframe als Input nimmt, und diese mit `apply()` aufzurufen:

In [50]:
def hilfsfunktion(row):
    return groessere_zahl(row['Punkte'], row['Coolness_Punkte'])

In [51]:
df.apply(hilfsfunktion, axis=1)

0     12272
1      7196
2      6854
3     10296
4      6588
5      6547
6      9776
7      6085
8      6004
9      8840
10    13572
11     8320
12     8320
13     5663
14     5627
15     5562
16     5536
17     5495
18     5365
19     5356
20     8008
21    50336
22     5158
23     5156
24     5114
25    10088
26     7800
27    29848
28     4894
29     4858
      ...
70    20904
71     4158
72    22048
73    11856
74     4150
75     4131
76     6344
77     7488
78     5512
79    42900
80     4044
81     8736
82    10140
83     4013
84     3998
85     5616
86     3992
87    73216
88     3979
89     6032
90     6032
91    12896
92     3934
93     3930
94     3922
95     9828
96     3899
97     3894
98     3877
99     6136
Length: 100, dtype: int64

Wir können uns die Definition dieser Hilfsfunktion aber auch sparen, indem wir eine anonyme Funktion on the spot definiteren.

Dazu verwenden wir das Keyword `lambda`:

In [52]:
df.apply(lambda row: groessere_zahl(row['Punkte'], row['Coolness_Punkte']), axis=1)

0     12272
1      7196
2      6854
3     10296
4      6588
5      6547
6      9776
7      6085
8      6004
9      8840
10    13572
11     8320
12     8320
13     5663
14     5627
15     5562
16     5536
17     5495
18     5365
19     5356
20     8008
21    50336
22     5158
23     5156
24     5114
25    10088
26     7800
27    29848
28     4894
29     4858
      ...
70    20904
71     4158
72    22048
73    11856
74     4150
75     4131
76     6344
77     7488
78     5512
79    42900
80     4044
81     8736
82    10140
83     4013
84     3998
85     5616
86     3992
87    73216
88     3979
89     6032
90     6032
91    12896
92     3934
93     3930
94     3922
95     9828
96     3899
97     3894
98     3877
99     6136
Length: 100, dtype: int64

### Im Detail... was hat es genau mit diesem Lambda auf sich?

 https://www.programiz.com/python-programming/anonymous-function

=> Eine Funktion, die keinen Namen trägt! (würde DJ Ötzi sagen)

In [53]:
(lambda x: x + 5)(2)

7

Der Gag an Lambda-Funktionen ist, dass man Sie im selben Moment definieren und benutzen kann. Den Variablennamen nach dem Lambda können wir frei wählen. noch ein Beispiel für eine Lambda-Funktion, die eine Liste verarbeitet:

In [59]:
my_list = [2, 3]

In [61]:
(lambda liste: liste[0] + liste[1])(my_list)

5

Wir brauchen diese anonymen Funktionen bei Pandas eigentlich nur im Zusammenspiel mit `apply()` - und zwar genau dann, wenn wir auf alle Elemente in einer Tablle eine bestimmte Funktion anwenden wollen, die mehr als ein Argument braucht.

In [54]:
df['Groessere Punktzahl'] = df.apply(lambda row: groessere_zahl(row['Punkte'], row['Coolness_Punkte']), axis=1)

In [55]:
df.head(10)

,Rang,Artist,Titel,Eintritt,Wochen,Peak,Punkte,Link,Songtext,Punkte_Formatiert,Anzahl Telefonbucheinträge,Textanalyse,Out_Text,Coolness_Punkte,Groessere Punktzahl
0,1,DJ Ötzi & Nik P.,Ein Stern (... der deinen Namen trägt),18.02.2007,118,2,8109,/song/DJ-Oetzi-&-Nik-P./Ein-Stern-(...-der-deinen-Namen-traegt)-283118,"Einen Stern, der deinen Namen trägt\nHoch am Himmelszelt\nDen schenk ich Dir heut' Nacht\nEinen Stern, der deinen Namen trägt\nAlle Zeiten überlebt\nUnd über unsere Liebe wacht\n\nSeit Jahren scho...",8K,0,Enhält 0 u's und 0 i's.,Die Single 'Ein Stern (... der deinen Namen trägt)' von DJ Ötzi & Nik P. ist am 18.02.2007 in die Charts eingestiegen. Sie blieb dort 118 Wochen und schaffte es auf Platz 2.,12272,12272
1,2,Ed Sheeran,Shape Of You,15.01.2017,93,1,7196,/song/Ed-Sheeran/Shape-Of-You-1622943,The club isn't the best place to find a lover\nSo the bar is where I go\nMe and my friends at the table doing shots\nDrinking fast and then we talk slow\n\nCome over and start up a conversation wi...,7K,0,Enhält 0 u's und 2 i's.,Die Single 'Shape Of You' von Ed Sheeran ist am 15.01.2017 in die Charts eingestiegen. Sie blieb dort 93 Wochen und schaffte es auf Platz 1.,4836,7196
2,3,Luis Fonsi feat. Daddy Yankee,Despacito,22.01.2017,90,1,6854,/song/Luis-Fonsi-feat.-Daddy-Yankee/Despacito-1625640,"Ay\nFonsi, DY\nOh, oh no, oh no (ey)\nHey, yeah, diri-diri-diriridi, Daddy, go!\n\nSí, sabes que ya llevo un rato mirándote\nTengo que bailar contigo hoy (DY)\nVi que tu mirada ya estaba llamándom...",7K,0,Enhält 0 u's und 0 i's.,Die Single 'Despacito' von Luis Fonsi feat. Daddy Yankee ist am 22.01.2017 in die Charts eingestiegen. Sie blieb dort 90 Wochen und schaffte es auf Platz 1.,4680,6854
3,4,DJ Antoine feat. The Beat Shakers,"""Ma chérie""",06.06.2010,99,2,6745,/song/DJ-Antoine-feat.-The-Beat-Shakers/Ma-cherie-711060,When I look into your eyes\nI see rainbows in the skies.\nBaby when you're close to me\nI know you are ma cherie.\n\nWe are gonna dance into the sea\nAll I want is you - you're ma cherie\nNever se...,7K,0,Enhält 0 u's und 5 i's.,"Die Single '""Ma chérie""' von DJ Antoine feat. The Beat Shakers ist am 06.06.2010 in die Charts eingestiegen. Sie blieb dort 99 Wochen und schaffte es auf Platz 2.",10296,10296
4,5,Adele,Rolling In The Deep,30.01.2011,93,1,6588,/song/Adele/Rolling-In-The-Deep-767937,"There's a fire starting in my heart\nReaching a fever pitch and it's bring me out the dark\nFinally, I can see you crystal clear\nGo ahead and sell me out and I'll lay your ship bare\n\nSee how I'...",7K,397,Enhält 0 u's und 3 i's.,Die Single 'Rolling In The Deep' von Adele ist am 30.01.2011 in die Charts eingestiegen. Sie blieb dort 93 Wochen und schaffte es auf Platz 1.,4836,6588
5,6,John Legend,All Of Me,02.02.2014,97,1,6547,/song/John-Legend/All-Of-Me-1183051,"What would I do without your smart mouth?\nDrawing me in, and you kicking me out\nYou've got my head spinning, no kidding, I can't pin you down\nWhat's going on in that beautiful mind\nI'm on your...",7K,0,Enhält 0 u's und 9 i's.,Die Single 'All Of Me' von John Legend ist am 02.02.2014 in die Charts eingestiegen. Sie blieb dort 97 Wochen und schaffte es auf Platz 1.,5044,6547
6,7,Amy Macdonald,This Is The Life,23.03.2008,94,2,6125,/song/Amy-Macdonald/This-Is-The-Life-349688,Oh the wind whistles down\nThe cold dark street tonight\nAnd the people they were dancing to the music vibe\nAnd the boys chase the girls with the curls in their hair\n\nWhile the shy tormented yo...,6K,0,Enhält 0 u's und 0 i's.,Die Single 'This Is The Life' von Amy Macdonald ist am 23.03.2008 in die Charts eingestiegen. Sie blieb dort 94 Wochen und schaffte es auf Platz 2.,9776,9776
7,8,The Black Eyed Peas,I Gotta Feeling,19.07.2009,87,1,6085,/song/The-Black-Eyed-Peas/I-Gotta-Feeling-584715,"I gotta feeling\nThat tonight's gonna be a good night\nThat tonight's gonna be a good night\nThat tonight's gonna be a good, good night\n\nA feeling\nThat tonight's gonna be a good night\nThat ton...",6K,0,Enhält 0 u's und 1 i's.,Die Single 'I Gotta Feeling' von The Black Eyed Peas ist am 19.07.2009 in die Charts eingestiegen. Sie blieb dort 87 Wochen und schaffte es auf Platz 1.,4524,6085
8,9,Shakira feat. Freshlyground,Waka Waka (This Time For Africa),23.05.2010,86,1,6004,/song/Shakira-feat.-Freshlyground/Waka-Waka-(This-Time-For-Africa)-700659,You're a good soldier\nChoosing your battles\nPick yourself up\nDust yourself off\nAnd get back in the saddle\n\nYou're on the front line\nEveryone's watching\nYou know it's serious\nWe are gettin...,6K,0,Enhält 0 u's und 0 i's.,Die Single 'Waka Waka (This Time For Africa)' von Shakira feat. Freshlyground ist am 23.05.2010 in die Charts eingestiegen. Sie blieb dort 86 Wochen und schaffte es auf Platz 1.,4472,6004
9,10,Guru Josh Project,Infinity 2008,28.09.2008,85,2,6001,/song/Guru-Josh-Project/Infinity-2008-484499,"Here's my key\nPhilosophy\nA freak like me\nJust needs infinity\n\nRelax\nTake your time\n\nAnd take your time\nTo trust in me\nAnd you will find\nInfinity, infinity\n\nAnd take your time\nTo trus...",6K,0,Enhält 0 u's und 0 i's.,Die Single 'Infinity 2008' von Guru Josh Project ist am 28.09.2008 in die Charts eingestiegen. Sie blieb dort 85 Wochen und schaffte es auf Platz 2.,8840,8840