# 02 Functions, 10 Übungen

Hier nochmals zur Erinnerung, wie Funktionen geschrieben werden.

In [2]:
def test(element):
    return element * 2

In [3]:
lst = list(range(1,100))

In [4]:
test(9) #Hier wird die Function auf die Zahl 9 angewendet. Sie wird mit 2 multipliziert.

18

1.Schreibe zwei Versionen von Funktionen namens "maxi" auf, die aus einer Liste, die grösste Zahl herauszieht. Es ist verboten mit "max" zu arbeiten. :-)

In [7]:
lst = [3,5,6,2,6,89,90]

In [8]:
max(lst)

90

In [9]:
#Deine Function 1:

In [ ]:
maxi(lst)

In [11]:
#Deine Function 2:

In [ ]:
maxi(lst)

2.Schreibe eine Funktion names numbers, die alle Elemente einer Liste, addiert. Es ist verboten mit "sum" zu arbeiten.

In [18]:
lst = [23,213, 234,234, 3323]

In [19]:
#Deine Function:

In [21]:
numbers(lst)

4027

3.Schreibe eine Funktion names "numbers", die alle Elemente einer Liste multipliziert.

In [22]:
lst = [23,213, 234,234, 3323]

In [23]:
#Deine Function namens "numbers":

In [24]:
numbers(lst)

891393567012

4.Schreibe eine Funktion namens "mirrorstring", die einen String nimmt, und spiegelt. Also "hallo" zu "ollah".

In [25]:
hallo = 'hallo'

In [28]:
#Deine Function namens mirrotstring

In [29]:
mirrorstring(hallo)

'ollah'

5.Schreibe eine Funktion names "isinlist", die prüft, ob eine Zahl in einer bestimmten Zahlenfolge zu finden ist.

In [49]:
zahl = 56
liste = [45, 34, 64,45]

In [59]:
#Deine Function isinlist:

In [55]:
isinlist(34, liste)

False

In [56]:
zahleliste = [45,57,34,64]

In [61]:
for elem in zahleliste:
    print(isinlist(elem,liste))

True
False
True
True

6.Lösche die mehrfach genannten Elemente aus der folgenden Liste.

In [5]:
liste = [5,5,5,5,3,2,11,5]

7.Drucke die geraden Zahlen aus der folgenden Liste aus:

In [ ]:
lst = [34,23,22,443,45,78,23,89,23]

8.Prüfe mit einer Funktionen, wieviele Grossbuchstaben in folgendem Satz zu finden sind.

In [44]:
satz = "In Oesterreich zeichnet sich ein Rechtsrutsch ab. OeVP und FPOe haben stark zugelegt. Gemaess der neusten Hochrechnung ist die Partei von Sebastian Kurz mit 31,6 Prozent der Stimmen Wahlsiegerin, auf Platz zwei folgt die SPÖ (26,9 Prozent) vor der FPOe (26,0 Prozent)."

In [49]:
def counting_caps(XXXXX):
    XXXXXX = 0
    for XXXXXX in elem:
        if XXXXXX.isupper():
            XXXXXXX += 1
    return  XXXXXXXX

In [50]:
 counting_caps(satz)

26

9.Prüfe mit einer Funktionen, wieviele 'e's in folgendem Satz zu finden sind.

In [1]:
Satz = "Wer von einem alten Monopolisten auf einen neuen Anbieter wechselt, kann in der Regel mehrere hundert Euro im Jahr einsparen. Selbst der Wechsel von einem Billigversorger zum nächsten wird mit lukrativen Prämien versüsst, sei es mit dreistelligen Bonuszahlungen schon nach 90 Tagen und noch einmal nach einem Jahr – oder auch mit Geschenken wie Tablets oder Fernsehern."

10.Schreibe eine Funktion, die eine andere Funktion nutzt.