# Frequency of Words

The Quintus Curtius Snodgrass Letters: As a forensic example of applied statistics, there was a famous case where Mark Twain was accused of being a Confederate deserter during the Civil War, and the evidence given were ten essays published in the New Orleans Daily Crescent under the name Quintus Curtius Snodgrass. In 1963 Claude Brinegar published an article in the 
Journal of the American Statistical Association where he uses word frequencies and a chi-squared test to show that the essays were almost certainly not Twain‚Äôs.

Brinegar‚Äôs Abstract: 
‚ÄúMark Twain is widely credited with the authorship of 10 letters published in 1861 in the New Orleans Daily Crescent. The adventures described in these letters, which are signed ‚ÄúQuintus Curtius Snodgrass,‚Äù provide the historical basis of a main part of Twain‚Äôs presumed role in the Civil War. This study applies an old, though little used statistical test of authorship - a word-length frequency test - to show that Twain almost certainly did not write these 10 letters. The statistical analysis includes a visual comparison of several word-length frequency distributions and applications of the ùúí2 and two-sample t tests.‚Äù

# TODO: Show how to count the frequency of three letter words

The following table shows relative frequencies of three-letter-words from the Snodgrass letters, and from samples of Twain‚Äôs known works. Rather than run them through complex calculations, let‚Äôs make box plots!

In [17]:
import pandas as pd
snodgrass = [.209,.205,.196,.210,.202,.207,.224,.223,.220,.201]
twain = [.225,.262,.217,.240,.230,.229,.235,.217]
df = pd.DataFrame([snodgrass,twain]).T
df.columns= ["QCS","MT"]
df

     QCS     MT
0  0.209  0.225
1  0.205  0.262
2  0.196  0.217
3  0.210  0.240
4  0.202  0.230
5  0.207  0.229
6  0.224  0.235
7  0.223  0.217
8  0.220    NaN
9  0.201    NaN

# Lets check if there is a significant difference in these three letter words

In [16]:
import plotly.offline as pyo
import plotly.graph_objs as go
pyo.init_notebook_mode(connected=True)


snodgrass = [.209,.205,.196,.210,.202,.207,.224,.223,.220,.201]
twain = [.225,.262,.217,.240,.230,.229,.235,.217]

data = [
    go.Box(
        y=snodgrass,
        name='QCS'
    ),
    go.Box(
        y=twain,
        name='MT'
    )
]
layout = go.Layout(
    title = 'Comparison of three-letter-word frequencies<br>\
    between Quintus Curtius Snodgrass and Mark Twain'
)
fig = go.Figure(data=data, layout=layout)
pyo.iplot(fig, filename='box3.html')