In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [5]:
#Hier ziehen wir den Text der Site ein. Transfermarkt verhindert, dass
#requests ohne Zusatzhilfe auf die Inhalte zugreifen kann. Deshalb
#Müssen wir einen Fake-Header kreieren.
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}
url = 'https://www.transfermarkt.ch/1-bundesliga/startseite/wettbewerb/L1/plus/?saison_id=2018'
r = requests.get(url, headers=headers)
soup = BeautifulSoup(r.text, 'html.parser')

In [16]:
#Hier bauen wir eine Liste aus den Vereinen
vereine = soup.find_all('td', {'class':'hauptlink no-border-links show-for-small show-for-pad'})

In [19]:
#Und wir zeigen den ersten Verein an
vereine[0].text

'Bayern München'

In [22]:
#Printen wir alle Vereine in der Liste aus.
for team in vereine:
    print(team.text)

Bayern München
Bor. Dortmund
Bay. Leverkusen
RB Leipzig
FC Schalke 04
TSG Hoffenheim
Bor. M'gladbach
VfB Stuttgart
VfL Wolfsburg
E. Frankfurt
Hertha BSC
Werder Bremen
1.FSV Mainz 05
FC Augsburg
Hannover 96
SC Freiburg
1.FC Nürnberg
F. Düsseldorf

In [20]:
#Und hier printen wir alle Beträge aus
beträge = soup.find_all('td', {'class':'rechts show-for-small show-for-pad nowrap'})

In [33]:
#Davon 
for wert in beträge[2:][::2]:
    print(float(wert.text.replace(' Mio. €', '').replace(',', '.')))

827.8
412.3
377.2
316.0
256.4
214.85
209.65
165.1
148.25
148.0
135.53
118.4
101.95
100.8
91.5
85.65
41.6
38.95

In [35]:
teamwertliste = []
for team, wert in zip(vereine, beträge[2:][::2]):
    team = team.text
    wert = float(wert.text.replace(' Mio. €', '').replace(',', '.'))
    minidict = {'Team': team,
                'Wert': wert}
    teamwertliste.append(minidict)

In [36]:
pd.DataFrame(teamwertliste)

               Team    Wert
0    Bayern München  827.80
1     Bor. Dortmund  412.30
2   Bay. Leverkusen  377.20
3        RB Leipzig  316.00
4     FC Schalke 04  256.40
5    TSG Hoffenheim  214.85
6   Bor. M'gladbach  209.65
7     VfB Stuttgart  165.10
8     VfL Wolfsburg  148.25
9      E. Frankfurt  148.00
10       Hertha BSC  135.53
11    Werder Bremen  118.40
12   1.FSV Mainz 05  101.95
13      FC Augsburg  100.80
14      Hannover 96   91.50
15      SC Freiburg   85.65
16    1.FC Nürnberg   41.60
17    F. Düsseldorf   38.95

In [40]:
jahre = list(range(2010,2019))

In [44]:
for jahr in jahre:
    print(jahr)
    print(url+str(jahr))

2010
https://www.transfermarkt.ch/1-bundesliga/startseite/wettbewerb/L1/plus/?saison_id=2010
2011
https://www.transfermarkt.ch/1-bundesliga/startseite/wettbewerb/L1/plus/?saison_id=2011
2012
https://www.transfermarkt.ch/1-bundesliga/startseite/wettbewerb/L1/plus/?saison_id=2012
2013
https://www.transfermarkt.ch/1-bundesliga/startseite/wettbewerb/L1/plus/?saison_id=2013
2014
https://www.transfermarkt.ch/1-bundesliga/startseite/wettbewerb/L1/plus/?saison_id=2014
2015
https://www.transfermarkt.ch/1-bundesliga/startseite/wettbewerb/L1/plus/?saison_id=2015
2016
https://www.transfermarkt.ch/1-bundesliga/startseite/wettbewerb/L1/plus/?saison_id=2016
2017
https://www.transfermarkt.ch/1-bundesliga/startseite/wettbewerb/L1/plus/?saison_id=2017
2018
https://www.transfermarkt.ch/1-bundesliga/startseite/wettbewerb/L1/plus/?saison_id=2018

In [57]:
allejahre = []
jahre = list(range(2010,2019))


for jahr in jahre:
    
    url = "https://www.transfermarkt.ch/1-bundesliga/startseite/wettbewerb/L1/plus/?saison_id="
    url = url+str(jahr)
    print(url)
    headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}
    r = requests.get(url, headers=headers)
    soup = BeautifulSoup(r.text, 'html.parser')
    
    vereine = soup.find_all('td', {'class':'hauptlink no-border-links show-for-small show-for-pad'})
    beträge = soup.find_all('td', {'class':'rechts show-for-small show-for-pad nowrap'})
    
    for team, wert in zip(vereine, beträge[2:][::2]):
        team = team.text
        wert = float(wert.text.replace(' Mio. €', '').replace(',', '.'))
        minidict = {'Team': team,
                    'Wert': wert,
                    'Saison':str(jahr)}
        allejahre.append(minidict)

https://www.transfermarkt.ch/1-bundesliga/startseite/wettbewerb/L1/plus/?saison_id=2010
https://www.transfermarkt.ch/1-bundesliga/startseite/wettbewerb/L1/plus/?saison_id=2011
https://www.transfermarkt.ch/1-bundesliga/startseite/wettbewerb/L1/plus/?saison_id=2012
https://www.transfermarkt.ch/1-bundesliga/startseite/wettbewerb/L1/plus/?saison_id=2013
https://www.transfermarkt.ch/1-bundesliga/startseite/wettbewerb/L1/plus/?saison_id=2014
https://www.transfermarkt.ch/1-bundesliga/startseite/wettbewerb/L1/plus/?saison_id=2015
https://www.transfermarkt.ch/1-bundesliga/startseite/wettbewerb/L1/plus/?saison_id=2016
https://www.transfermarkt.ch/1-bundesliga/startseite/wettbewerb/L1/plus/?saison_id=2017
https://www.transfermarkt.ch/1-bundesliga/startseite/wettbewerb/L1/plus/?saison_id=2018

In [58]:
df = pd.DataFrame(allejahre)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 3 columns):
Saison    162 non-null object
Team      162 non-null object
Wert      162 non-null float64
dtypes: float64(1), object(2)
memory usage: 3.9+ KB

In [60]:
df.groupby('Saison')['Wert'].sum()

Saison
2010    1807.43
2011    1815.94
2012    1891.15
2013    2140.09
2014    2399.35
2015    2523.00
2016    2580.66
2017    2883.19
2018    3789.93
Name: Wert, dtype: float64